
<style>
    span{
        color: red;
    }
</style>
<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f4f4f4; padding: 20px;">

   <% if (!changepass) { %>
    <div style="background-color: #fff; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); max-width: 400px; margin: 0 auto;">
        <h1 style="color: #333; font-size: 24px;">Forgot Password</h1>

        <p style="color: #666; font-size: 16px;">Enter the OTP sent to your Email.</p>

        <form id="forgotPasswordForm" action="/user/add-newPassword/<%= user1._id %>" method="POST" onsubmit="return false;">
            <div style="margin-bottom: 20px;">
                <label for="number" style="font-size: 16px; display: block; color: #333;">Email:</label>
                <input type="email" class="mobile" name="email" value="<%= user1.email %>"  style="width: 95%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
                <span class="mobile-error"></span>
            </div>

            <div style="margin-bottom: 20px;">
                <label for="password" style="font-size: 16px; display: block; color: #333;">Enter the new password:</label>
                <input type="password" class="password" name="password" onkeyup="validatePass()" style="width: 95%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
                <span class="password-error"></span>
            </div>

            <div style="margin-bottom: 20px;">
                <label for="confirm-password" style="font-size: 16px; display: block; color: #333;">Confirm password:</label>
                <input type="password" id="confirm-password" class="confirmpass" onkeyup="validatePass()" style="width: 95%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
                <span class="confirmpass-error"></span>
            </div>

            <div style="margin-bottom: 20px;">
                <label for="otp" style="font-size: 16px; display: block; color: #333;">Enter the OTP:</label>
                <input type="text" id="otp" class="otp" name="otp"  onkeyup="validateOtp()" style="width: 95%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
                <span class="otp-error"></span>
            </div>

            <button id="resetForgotPasswordBtn"  type="submit" style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">Reset Password</button>
        </form>

        <p style="color: #666; font-size: 14px; margin-top: 20px;">Remember your password? <a href="/user/alreadyLogged" style="color: #007bff; text-decoration: none;">Log in</a></p>
    </div>
    <script>



     

        function validatePass() {
            const password = document.querySelector('.password').value;
            const confirmPassword = document.querySelector('.confirmpass').value;
            const passwordError = document.querySelector('.password-error');
            const confirmPassError = document.querySelector('.confirmpass-error');

            if (password !== confirmPassword) {
                passwordError.textContent = 'Passwords do not match';
                confirmPassError.textContent = 'Passwords do not match';
                return false;
            }

            passwordError.innerHTML = '<i style="color: green" class="fa-solid fa-circle-check"></i>';
            confirmPassError.innerHTML = '<i style="color: green" class="fa-solid fa-circle-check"></i>';
            return true;
        }

        function validateOtp() {
            const otp = document.querySelector('.otp').value;
            const otpError = document.querySelector('.otp-error');

            if (otp.length < 2) {
                otpError.textContent = 'OTP is required';
                return false;
            }

            otpError.innerHTML = '<i style="color: green" class="fa-solid fa-circle-check"></i>';
            return true;
        }


        document.getElementById('resetForgotPasswordBtn').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default form submission behavior

    // Your custom logic to handle form submission for Forgot Password form
    if (validatePhone() && validatePass() && validateOtp()) {
        document.getElementById('forgotPasswordForm').submit();
    } else {
        // Handle validation errors or show messages to the user
    }
});

    </script>
   <% }else{ %>
    <form id="changePasswordForm"  action="/user/add-change-password" method="POST" >
    
        <div style="background-color: #fff; border-radius: 10px; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); max-width: 400px; margin: 0 auto;">

            <div style="margin-bottom: 20px;">
                <label for="password" style="font-size: 16px; display: block; color: #333;">Enter the old password:</label>
                <input type="password" class="password" name="oldPassword"  style="width: 95%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
            </div>
    

        <div style="margin-bottom: 20px;">
            <label for="password" style="font-size: 16px; display: block; color: #333;">Enter the new password:</label>
            <input type="password" class="password-change" name="passwordNew" onkeyup="validatePasschange()" style="width: 95%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
            <span class="password-error-change"></span>
        </div>

        <div style="margin-bottom: 20px;">
            <label for="confirm-password" style="font-size: 16px; display: block; color: #333;">Confirm password:</label>
            <input type="password" id="confirm-password" class="confirmpass-change" onkeyup="validatePasschange()" style="width: 95%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
            <span class="confirmpass-error-change"></span>
        </div>

       

        <button id="resetChangePasswordBtn" type="submit" style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">Reset Password</button>
    </form>
</div>
    <% } %>

    



<script>
       function validatePasschange() {
            const password = document.querySelector('.password-change').value;
            const confirmPassword = document.querySelector('.confirmpass-change').value;
            const passwordError = document.querySelector('.password-error-change');
            const confirmPassError = document.querySelector('.confirmpass-error-change');

            if (password !== confirmPassword) {
                passwordError.textContent = 'Passwords do not match';
                confirmPassError.textContent = 'Passwords do not match';
                return false;
            }

            passwordError.innerHTML = '<i style="color: green" class="fa-solid fa-circle-check"></i>';
            confirmPassError.innerHTML = '<i style="color: green" class="fa-solid fa-circle-check"></i>';
            return true;
        }




        document.getElementById('resetChangePasswordBtn').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default form submission behavior

    // Your custom logic to handle form submission for Change Password form
    if (validatePasschange()) {
        document.getElementById('changePasswordForm').submit();
    } else {
        // Handle validation errors or show messages to the user
    }
});

</script>
</body>
