
<nav class="navbar main-nav-bar navbar-expand-lg " style="position: fixed;background-color: #b1b1b1;" > 
<div class="container-fluid">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" style="font-weight: 800; font-size: 18px; box-shadow: 2px 1px 10px 0 rgba(0,9,0,0.2);border-radius: 10px; margin-right: 30px;" href="/admin/dash">Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="font-weight: 800; font-size: 18px; box-shadow: 2px 1px 10px 0 rgba(0,9,0,0.2);border-radius: 10px; margin-right: 30px;" href="/admin/orders">Orders</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" style="font-weight: 800; font-size: 18px; box-shadow: 2px 1px 10px 0 rgba(0,9,0,0.2);border-radius: 10px; margin-right: 30px;" href="/admin/product-mg">Products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="font-weight: 800; font-size: 18px; box-shadow: 2px 1px 10px 0 rgba(0,9,0,0.2);border-radius: 10px; margin-right: 30px;" href="/admin/category-mg">Categories</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="font-weight: 800; font-size: 18px; box-shadow: 2px 1px 10px 0 rgba(0,9,0,0.2);border-radius: 10px; margin-right: 30px;" href="/admin/user-mg">Users</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="font-weight: 800; font-size: 18px; box-shadow: 2px 1px 10px 0 rgba(0,9,0,0.2);border-radius: 10px; margin-right: 30px;" href="/admin/coupon-mg">Coupons</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="font-weight: 800; font-size: 18px; box-shadow: 2px 1px 10px 0 rgba(0,9,0,0.2);border-radius: 10px; margin-right: 30px;" href="/admin/banner-mg">Banners</a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" style="font-weight: 800; font-size: 18px; box-shadow: 2px 1px 10px 0 rgba(0,9,0,0.2);border-radius: 10px; margin-right: 30px;" href="/admin/report">Report</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="font-weight: 800; font-size: 18px; box-shadow: 2px 1px 10px 0 rgba(0,9,0,0.2);border-radius: 10px; margin-right: 30px;" href="/admin/logout">Logout</a>
      </li>
    </ul>
    
  </div>
</div>
</nav>
